SchemaBackup/bin/Debug/SchemaBackup.Service.exe.config
*.exe
SchemaBackup/bin/Debug/SchemaBackup.Service.vshost.exe.config
SchemaBackup/bin/Debug/SchemaBackup.Service.vshost.exe.manifest
SchemaBackup/obj/x86/Debug/SchemaBackup.Service.csproj.FileListAbsolute.txt
SchemaBackup.Definitions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
SchemaBackup.suo
SchemaBackupLibrary/obj/Debug/SchemaBackup.Scheme.csproj.FileListAbsolute.txt
*.cache
*.pdb
*.dll
SchemaBackupLibrary/obj/Debug/SchemaBackup.Core.csproj.FileListAbsolute.txt
SchemaBackupLibrary/obj/Debug/SchemaBackup.Schema.csproj.FileListAbsolute.txt
SchemaBackup.Tests/obj/Debug/SchemaBackup.Tests.csproj.FileListAbsolute.txt
SchemaBackup.Tests/bin/Debug/SchemaBackup.Tests.dll.config
SchemaBackup.Core/obj/Debug/SchemaBackup.Core.csproj.FileListAbsolute.txt
SchemaBackup.Definitions/obj/Debug/SchemaBackup.Definitions.csproj.FileListAbsolute.txt
*.userprefs
SchemaBackup.AdminApp/bin/Debug/SchemaBackup.AdminApp.exe.config
*.manifest
SchemaBackup.AdminApp/obj/x86/Debug/App.g.cs
SchemaBackup.AdminApp/obj/x86/Debug/App.g.i.cs
SchemaBackup.AdminApp/obj/x86/Debug/MainWindow.baml
SchemaBackup.AdminApp/obj/x86/Debug/MainWindow.g.cs
SchemaBackup.AdminApp/obj/x86/Debug/MainWindow.g.i.cs
SchemaBackup.AdminApp/obj/x86/Debug/SchemaBackup.AdminApp.g.resources
SchemaBackup.AdminApp/obj/x86/Debug/SchemaBackup.AdminApp.csproj.FileListAbsolute.txt
SchemaBackup.AdminApp/obj/x86/Debug/SchemaBackup.AdminApp.Properties.Resources.resources
SchemaBackup.userprefs
SchemaBackup.AdminApp/obj/x86/Debug/AboutWindow.g.i.cs