<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SchemaBackup.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="SchemaBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SchemaBackup.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="SchemaBackup.Properties.Settings.Setting" connectionString="Data Source=GARETH-PC\SQLEXPRESS;Initial Catalog=MusicPlayer;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="SchemaBackup.Service.Properties.Settings.Setting"
        connectionString="Data Source=GARETH-PC\SQLEXPRESS;Initial Catalog=MusicPlayer;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <SchemaBackup.Service.Properties.Settings>
            <setting name="ConnectionStrings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Data Source=GARETH-PC\SQLEXPRESS;Initial Catalog=MusicPlayer;Integrated Security=True</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WorkingPath" serializeAs="String">
                <value>C:\SchemaBackupTemp</value>
            </setting>
            <setting name="ObjectsToIgnore" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>sp_alterdiagram</string>
                        <string>sp_creatediagram</string>
                        <string>sp_dropdiagram</string>
                        <string>sp_helpdiagramdefinition</string>
                        <string>sp_helpdiagrams</string>
                        <string>sp_renamediagram</string>
                        <string>sp_upgraddiagrams</string>
                        <string>sysdiagrams</string>
                        <string>fn_diagramobjects</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SchemaBackup.Service.Properties.Settings>
        <SchemaBackup.Properties.Settings>
            <setting name="ConnectionStrings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Data Source=GARETH-PC\SQLEXPRESS;Initial Catalog=MusicPlayer;Integrated Security=True</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SchemaBackup.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SchemaBackup.Service.Properties.Settings>
            <setting name="SettingFileLocation" serializeAs="String">
                <value>C:\SchemaBackupTemp\settings.xml</value>
            </setting>
        </SchemaBackup.Service.Properties.Settings>
    </userSettings>
</configuration>
